@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&display=swap');

body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #0f1117;
  color: #f4f4f4;
  text-align: center;
}

.container {
  padding: 80px 20px;
  max-width: 800px;
  margin: auto;
}

.subtitle {
  font-size: 1.2em;
  color: #aaa;
  margin-bottom: 40px;
}

.features {
  list-style: none;
  padding: 0;
  line-height: 2em;
  font-size: 1.1em;
}

.button {
  display: inline-block;
  margin-top: 40px;
  padding: 15px 30px;
  font-size: 1.1em;
  background-color: #08f;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #06c;
}

.mini-button {
  display: inline-block;
  padding: 8px 16px;
  margin-top: 1rem;
  background-color: #ff4c4c; /* red highlight */
  color: #fff;
  font-weight: bold;
  border-radius: 8px;
  text-decoration: none;
  box-shadow: 0 0 10px rgba(255, 76, 76, 0.5);
  transition: background-color 0.3s ease;
}

.mini-button:hover {
  background-color: #ff0000;
}

  .logo-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: -10px;
}

.logo-top {
  max-width: 100px;
  height: auto;
  margin-top: 10px;
}


.beta-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2rem;
}

.form-group label {
  margin-bottom: 6px;
  font-weight: 600;
  color: #fff;
}

.beta-form input,
.beta-form textarea {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #1c1c1e;
  color: #fff;
  resize: vertical;
}

.beta-form input::placeholder,
.beta-form textarea::placeholder {
  color: #aaa;
}

.join-btn {
  background: #ff4757;
  color: #fff;
  padding: 10px 20px;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.join-btn:hover {
  background: #e84118;
}

#update-bar {
  background: #ff4757;
  color: white;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  font-family: 'Segoe UI', sans-serif;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}



